<h1>Hello.  Content from the handlebars blogs starts here</h1>
<p>
 Currently, I am using this to render all the blogs
</p>

<h1>Form to create a new blog</h1>


<form action="/blogs" method="POST">
<fieldset>
 <legend>Tell us about your day</legend>
  <input type="date" placeholder="date" name="date">
  <input type="text" name="city" value="city"><br>
  <p>Tell us about your day</p>
  <textarea name="keywords" rows="16" cols="100"> Your key thing</textarea> <br>
  <p>
   Highlights
  <textarea name="highlight" rows="8" cols="50"> Highlights</textarea><br>
  Lowlights</p>
  <textarea name="lowlight" rows="8" cols="50"> Lowlights</textarea>
   <p>What yummy food did you eat</p>
  <textarea name="reflection" rows="8" cols="100"> Eating</textarea> <br>
  <button type="submit" name="button">Submit</button>
</fieldset>
</form>




{{#each displayAllBlogs}}


<h3 > Date: </em>{{date}} </h3> </br>
<em> City : </em> {{city}}  </h3>
<p> <em> Main things we did: </em> {{keywords}} <br>
<em> Highlights: </em> {{highlight}} <br>
<em> Lowlights: </em> {{lowlight}} <br>
<em> Reflections: </em> {{reflections}} <br>
</p>
{{/each}}
