<h1>Hello.  Here is the home handlebars</h1>


{{#each tasksNameForHandlebars}}

<h3>City : {{city}}  </h3>
<p> Activity name: {{name}} <br>
Description: {{description}} <br>
Cost: {{cost}} <br>
Are we doing it: {{doIt}} <br>
Date: {{date}} </br>
</p>
{{/each}}
